<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background: #666699!important;">
    <div class="container-fluid mx-2">
        <a class="navbar-brand" href="#">
            <span class="d-block" viewBox="0 0 118 94"><b>Mfano</b></span>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav"></ul>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img id="gravatar" class="rounded-circle" style="width: 2rem;">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><span id="loginUser" class="dropdown-item"></span></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" id="changePassword" href="/settings.html">设置</a></li>
                        <li><a class="dropdown-item visually-hidden" id="logout" onclick="logout()" href="#">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    document.onload = function () {
        let user = sessionGet("user")
        $('#loginUser').html(user.NickName)
        $('#gravatar').attr('src', user.AvatarURL)
        $('#logout').toggleClass('visually-hidden')
        let resources = sessionGet("resources")
        // 渲染资源
        let navbar = document.querySelector("#navbarNav .navbar-nav")
        let innerHtml = '<li class="nav-item"><a class="nav-link active" href="/">首页</a></li>'
        for (let resource of resources) {
            innerHtml += '<li class="nav-item"><a class="nav-link active" href="'+ resource.Url +'">'+resource.Name+'</a></li>'
        }
        navbar.innerHTML = innerHtml

    }()

    function logout() {
        $.ajax({
            url: apiHost + "/logout",
            method: "get",
            xhrFields: {
                withCredentials: true
            },
            crossDomain: true,
            success: function () {
                sessionClearAll()
                window.location.href = "/login.html"
            }
        })
    }
</script>